{% extends "base.twig" %}

{% block title %}Product Catalog{% endblock %}

{% block content %}
    <div class="container">
        <h2>Edit Product</h2>
        <form method="post" action="/products/edit/{{ product.id }}">
            <label for="categoryId">Product Category : </label><br>
            <select id="categoryId" name="categoryId">

                {% for category in categories %}
                    <option {% if category.categoryId == product.getCategoryId %}selected{% endif %}
                            value="{{ category.categoryId }}">{{ category.name }}</option>
                {% endfor %}
            </select><br>
            <label for="title" class="form-label">Product name : </label>
            <input type="text" class="form-control" name="name" id="title"
                   placeholder="{{ product.getName }}"/>
            <p class="text-danger">{{ errors.get('productName') }}</p>
            <label for="title" class="form-label">Product amount : </label>
            <input type="text" class="form-control" name="amount" id="title"
                   placeholder="{{ product.getAmount }}"/>
            <p class="text-danger">{{ errors.get('productAmount') }}</p>
            <fieldset>
                <h6>Add Tags</h6>
                <div>
                    {% for tag in tags.getTags %}
                        <input type="checkbox" id="{{ tag.getTagId }}" name="tags[{{ tag.getTagId }}]"
                               value="{{ tag.getTagId }}"
                               {% if product.getTagsCollection.getTagById(tag.getTagId) is not null %}checked{% endif %}>
                        <label for="{{ tag.getTagId }}">{{ tag.getName }}</label>
                    {% endfor %}
                </div>
            </fieldset>

            <input type="submit" value="Save changes" name="submit" class="btn btn-dark"/>
        </form >
    </div>


{% endblock %}