{% block content %}

    {% include "Products/index.twig" %}
    <br>

    <div class="container">
        <h2> Products Stored</h2>
        <div class="float-right">
            <form action="/products/filter/get">
                <label for="categoryId">Filter by Category : </label><br>
                <select id="categoryId" name="categoryId">
                    <option value="all">All</option>
                    {% for category in categories %}
                        <option value="{{ category.categoryId }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <fieldset>
                    <h6>Filter by Tags</h6>
                        {% for tag in tags.getTags %}
                            <input type="checkbox" id="{{ tag.getTagId }}" name="tags[{{ tag.getTagId }}]" value="{{ tag.getTagId }}">
                            <label for="{{ tag.getTagId }}">{{ tag.getName }}</label>
                        {% endfor %}
                </fieldset>
                <input type="submit" value="Filter" name="submit" class="btn btn-dark"/>
            </form>
            <form action="/products/show"><input type="submit" value="Reset Filters" name="submit" class="btn btn-dark"/></form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Amount</th>
                <th scope="col">Tags</th>
                <th scope="col">Stored time</th>
                <th scope="col">Edited time</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for product in productCollection.getProducts %}
                <tr>
                    <td>{{ product.getName }}</td>
                    <td>{{ product.getCategory }}</td>
                    <td>{{ product.getAmount }}</td>
                    <td>
                        {% for tag in product.getTagsCollection.getTags %}
                            {{ tag.getName }}
                        {% endfor %}
                    </td>
                    <td>{{ product.getAddedAt }}</td>
                    <td>{{ product.getLastEditedAt }}</td>
                    <td><a class='btn btn-dark ' href='/products/edit/{{ product.id }}' role='button'>Edit </a>
                        <a class='btn btn-danger ' href='/products/delete/{{ product.id }}' role='button'>Delete</a>
                    </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>




{% endblock %}